# Configuration file

aesthetic {
    # If true, the old rendering for the Ground Bridge portal will be used. [default: false]
    B:"Old Portal Rendering"=false

    # If true, Purge's Dash Bar will appear at the top of the screen instead of in the middle of it. [default: false]
    B:"Show Purge-Dash At Top Of Screen"=false

    # If true, miles will be used instead of kilometers when measuring speed. [default: false]
    B:"Use Miles For Speed-Measurement"=false
}


options {
    # If false, the mod will not check for updates. [default: true]
    B:"Check For Updates"=true

    # The maximum distance the portal frame can be from the Ground Bridge Control Panel. [range: 0 ~ 2147483647, default: 20]
    I:"Control Panel Max Range"=20

    # If false, the 'Invalid Coords' Ground Bridge error will be discarded. [default: true]
    B:"Ground Bridge Min Range"=true
}


projectiles {
    # If false, missiles won't damage the terrain. [default: true]
    B:"Allow Missile Explosions"=true

    # If false, tank shells won't damage the terrain. [default: false]
    B:"Allow Tank Shell Explosions"=false
}


transformation {
    # If false, you will not be able to transform as Cloudtrap. Useful for servers. [default: true]
    B:"Can Transform As Cloudtrap"=true

    # If false, you will not be able to transform as Purge. Useful for servers. [default: true]
    B:"Can Transform As Purge"=true

    # If false, you will not be able to transform as Skystrike. Useful for servers. [default: true]
    B:"Can Transform As Skystrike"=true

    # If false, you will not be able to transform as Subwoofer. Useful for servers. [default: true]
    B:"Can Transform As Subwoofer"=true

    # If false, you will not be able to transform as Vurp. Useful for servers. [default: true]
    B:"Can Transform As Vurp"=true

    # If true, you will switch to first-person mode after transforming from vehicle to robot mode. [default: false]
    B:"First-person Switch"=false
}


